QListWidget#menu {
    font-size: 18pt;
}

QListWidget#menu::item {
    margin: 1em;
}

#core QListWidget {
    /* Set the min height of the input/output box to roughly 20 lines of file names ('em' solely counts text size). */
    min-height: 20em;
}

#core QPushButton {
    font-size: 12pt;
    min-height: 2em;
}

#core QLabel {
    font-size: 15pt;
    margin-bottom: 0.25em;
}

QPushButton#dbBtn {
    qproperty-iconSize: 40px 30px;
    padding-left: 0.4em;
}